@keyframes spin-reverse {
  100% {
    transform: rotate(-360deg);
  }
}
.animate-spin-reverse {
  animation: spin-reverse linear infinite;
}

@keyframes bounding {
  100% {
    transform: translateY(200%);
  }
}
.bounding {
  animation: bounding 1.2s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}
@keyframes aura-scaling {
  0%,
  30% {
    transform: scaleY(0.5);
    opacity: 0;
  }
  50%,
  100% {
    transform: scaleY(1);
    opacity: 0.35;
  }
}
.aura-scaling {
  transform-origin: bottom;
  animation: aura-scaling 1.2s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}
@keyframes aura-lighting {
  0%,
  100% {
    transform: scaleY(0.9);
    opacity: 1;
  }
  50% {
    transform: scaleY(0.8);
    opacity: 0.7;
  }
}
.aura-lighting {
  transform-origin: bottom;
  animation: aura-lighting 1.2s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}

@keyframes move {
  to {
    offset-distance: 100%;
  }
}
@keyframes move-reverse {
  from {
    offset-distance: 100%;
  }
  to {
    offset-distance: 0%;
  }
}

@keyframes bouncing {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(4px);
  }
}
.bouncing {
  animation: bouncing 1200ms cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}

@keyframes path-dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 100;
  }
}

.path-dash {
  animation: path-dash 3s ease-in-out infinite;
  animation-delay: 2s; /* sẽ lặp lại delay mỗi lần restart */
}
