.toast-container {
  @apply relative flex flex-row items-center bg-white border rounded w-80 p-2;
}
.toast-container.success {
  @apply border-success;
}
.toast-container.error {
  @apply border-error;
}
.toast-container.warning {
  @apply border-warning;
}
.toast-container.information {
  @apply border-blue-400;
}

.toast-progress-bar {
  @apply h-1;
  background: transparent;
}
.toast-progress-bar.success {
  @apply bg-success;
}
.toast-progress-bar.error {
  @apply bg-error;
}
.toast-progress-bar.warning {
  @apply bg-warning;
}
.toast-progress-bar.information {
  @apply bg-blue-400;
}

.Toastify {
  @apply normal-case;
  font-family: 'Red Rose', serif;
}
.Toastify * {
  font-family: inherit;
  @apply text-sm text-black;
}
